# 时间序列数据合并 #

In [1]:
import sys
import os
from datetime import date, timedelta

import numpy as np
import pandas as pd
from tqdm.notebook import tqdm

In [2]:
def load_gz(input_path):
    chunks_list = []
    CHUNK_SIZE = 5000
    for chunk in pd.read_csv(input_path, sep=',', chunksize = CHUNK_SIZE, low_memory=False):
        chunks_list.append(chunk)
        del chunk
    df = pd.concat(chunks_list)
    return df

def load_sql_table(table_name):
    from sqlalchemy import create_engine
    con = create_engine("postgresql://postgres:1030@localhost/postgres").connect()
    df = pd.read_sql_table(
        table_name,
        con = con,
#         index_col='subject_id'
    )  
    return df

In [3]:
heart_rate = load_sql_table('heart_rate_2')
glucose_whole_blood = load_sql_table('glucose_whole_blood_2')
blood_pressure = load_sql_table('blood_pressure_2')
blood_temperature = load_sql_table('blood_temperature_2')
minute_volumn = load_sql_table('minute_volumn_2')
respiratory_rate_set = load_sql_table('respiratory_rate_set_2')
respiratory_rate_spontaneous = load_sql_table('respiratory_rate_spont_2')
respiratory_rate_total = load_sql_table('respiratory_rate_total_2')

In [4]:
print(heart_rate.shape)
print(glucose_whole_blood.shape)
print(blood_pressure.shape)
print(blood_temperature.shape)
print(minute_volumn.shape)
print(respiratory_rate_set.shape)
print(respiratory_rate_spontaneous.shape)
print(respiratory_rate_total.shape)

(692980, 2)
(50573, 2)
(401541, 2)
(154617, 2)
(76447, 2)
(44747, 2)
(74016, 2)
(68233, 2)

In [5]:
print(heart_rate.head(5))

                     charttime heart_rate_per_bpm
subject_id
10088966   2131-04-09 12:15:00                 76
10088966   2131-04-09 12:30:00                 79
10088966   2131-04-09 12:45:00                 67
10088966   2131-04-09 13:00:00                 80
10088966   2131-04-09 13:15:00                 80

In [6]:
result = heart_rate.merge(glucose_whole_blood, on = ['subject_id','charttime'], how='outer')

In [7]:
print(result.head(5))

                     charttime heart_rate_per_bpm  \
subject_id
10088966   2131-04-09 12:15:00                 76
10088966   2131-04-09 12:30:00                 79
10088966   2131-04-09 12:45:00                 67
10088966   2131-04-09 13:00:00                 80
10088966   2131-04-09 13:15:00                 80

           glucose_whole_blood_mg_per_dl
subject_id
10088966                             NaN
10088966                             NaN
10088966                             NaN
10088966                             NaN
10088966                             NaN

In [8]:
result = result.merge(blood_pressure, on = ['subject_id','charttime'], how='outer')
print(result.shape)

(751773, 4)

In [9]:
result = result.merge(blood_temperature, on = ['subject_id','charttime'], how='outer')
print(result.shape)

(756546, 5)

In [10]:
result = result.merge(minute_volumn, on = ['subject_id','charttime'], how='outer')
print(result.shape)

(765612, 6)

In [11]:
result = result.merge(respiratory_rate_set, on = ['subject_id','charttime'], how='outer')
print(result.shape)

(767598, 7)

In [12]:
result = result.merge(respiratory_rate_spontaneous, on = ['subject_id','charttime'], how='outer')
print(result.shape)

(767858, 8)

In [13]:
result = result.merge(respiratory_rate_total, on = ['subject_id','charttime'], how='outer')
print(result.shape)

(768182, 9)

In [14]:
print(result.head(5))

                     charttime heart_rate_per_bpm  \
subject_id
10088966   2131-04-09 12:15:00                 76
10088966   2131-04-09 12:30:00                 79
10088966   2131-04-09 12:45:00                 67
10088966   2131-04-09 13:00:00                 80
10088966   2131-04-09 13:15:00                 80

           glucose_whole_blood_mg_per_dl arterial_blood_pressure_mmhg  \
subject_id
10088966                             NaN                           72
10088966                             NaN                           60
10088966                             NaN                           65
10088966                             NaN                           99
10088966                             NaN                           62

           blood_temperature_centigrade minute_volumn_l_per_min  \
subject_id
10088966                           35.2                     NaN
10088966                           35.2                     NaN
10088966                           35.4                     NaN
10088966                           35.6                     NaN
10088966                           35.9                     NaN

           respiratory_rate_set_insp_per_min  \
subject_id
10088966                                 NaN
10088966                                 NaN
10088966                                 NaN
10088966                                 NaN
10088966                                 NaN

           respiratory_rate_spontaneous_insp_per_min  \
subject_id
10088966                                         NaN
10088966                                         NaN
10088966                                         NaN
10088966                                         NaN
10088966                                         NaN

           respiratory_rate_total_insp_per_min
subject_id
10088966                                   NaN
10088966                                   NaN
10088966                                   NaN
10088966                                   NaN
10088966                                   NaN

In [24]:
print(blood_temperature.head(5))
print(blood_pressure[blood_pressure.index== 10088966])

                     charttime blood_temperature_centigrade
subject_id
10088966   2131-04-09 12:15:00                         35.2
10088966   2131-04-09 12:30:00                         35.2
10088966   2131-04-09 12:45:00                         35.4
10088966   2131-04-09 13:00:00                         35.6
10088966   2131-04-09 13:15:00                         35.9
                     charttime arterial_blood_pressure_mmhg
subject_id
10088966   2131-04-09 12:14:00                           81
10088966   2131-04-09 12:15:00                           72
10088966   2131-04-09 12:30:00                           60
10088966   2131-04-09 12:45:00                           65
10088966   2131-04-09 13:00:00                           99
10088966   2131-04-09 13:15:00                           62
10088966   2131-04-09 13:30:00                           81
10088966   2131-04-09 13:45:00                           66
10088966   2131-04-09 14:00:00                           74
10088966   2131-04-09 14:15:00                           74
10088966   2131-04-09 14:30:00                           77
10088966   2131-04-09 14:45:00                           73
10088966   2131-04-09 15:00:00                           78
10088966   2131-04-09 15:15:00                          102
10088966   2131-04-09 15:32:00                           76
10088966   2131-04-09 15:45:00                           74
10088966   2131-04-09 16:01:00                           76
10088966   2131-04-09 16:15:00                           68
10088966   2131-04-09 16:30:00                           76
10088966   2131-04-09 16:45:00                           67
10088966   2131-04-09 17:00:00                           67
10088966   2131-04-09 17:15:00                           64
10088966   2131-04-09 19:05:00                           93
10088966   2131-04-09 19:15:00                           80
10088966   2131-04-09 19:30:00                           73
10088966   2131-04-09 19:45:00                           80
10088966   2131-04-09 20:00:00                           66
10088966   2131-04-09 20:15:00                           77
10088966   2131-04-09 20:30:00                           74
10088966   2131-04-09 21:00:00                           79
10088966   2131-04-09 22:00:00                           90
10088966   2131-04-09 23:00:00                           62
10088966   2131-04-10 00:00:00                           66
10088966   2131-04-10 01:00:00                           67
10088966   2131-04-10 02:00:00                           76
10088966   2131-04-10 02:30:00                           61
10088966   2131-04-10 03:00:00                           68
10088966   2131-04-10 03:15:00                           60
10088966   2131-04-10 04:00:00                           64
10088966   2131-04-10 05:00:00                           76
10088966   2131-04-10 06:00:00                           73
10088966   2131-04-10 07:00:00                           71
10088966   2131-04-10 08:00:00                           87
10088966   2131-04-10 09:00:00                           75
10088966   2131-04-10 10:00:00                           79
10088966   2131-04-10 11:00:00                           86
10088966   2131-04-10 12:00:00                           96
10088966   2131-04-10 13:00:00                           90
10088966   2131-04-10 14:00:00                           95
10088966   2131-04-10 15:00:00                           81
10088966   2131-04-10 16:00:00                           87
10088966   2131-04-10 17:00:00                           84
10088966   2131-04-10 18:00:00                          103

In [25]:
print(result[result['charttime'] == '2131-04-09 12:14:00'])

                     charttime heart_rate_per_bpm  \
subject_id
10088966   2131-04-09 12:14:00                NaN

           glucose_whole_blood_mg_per_dl arterial_blood_pressure_mmhg  \
subject_id
10088966                             NaN                           81

           blood_temperature_centigrade
subject_id
10088966                            NaN

In [15]:
result.sort_values(by = ['subject_id','charttime'], inplace = True)

In [16]:
print(result.head(10))

                     charttime heart_rate_per_bpm  \
subject_id
10002527   2136-03-24 11:26:00                NaN
10002527   2136-03-24 13:45:00                NaN
10002527   2136-03-24 14:23:00                NaN
10002527   2136-03-24 14:57:00                NaN
10002527   2136-03-24 15:26:00                NaN
10002527   2136-03-24 16:32:00                NaN
10002527   2136-03-24 16:33:00                 92
10002527   2136-03-24 16:34:00                NaN
10002527   2136-03-24 16:45:00                NaN
10002527   2136-03-24 16:46:00                 93

           glucose_whole_blood_mg_per_dl arterial_blood_pressure_mmhg  \
subject_id
10002527                             112                          NaN
10002527                             113                          NaN
10002527                             134                          NaN
10002527                             126                          NaN
10002527                             137                          NaN
10002527                             NaN                           64
10002527                             NaN                          NaN
10002527                             NaN                          NaN
10002527                             NaN                          NaN
10002527                             NaN                           83

           blood_temperature_centigrade minute_volumn_l_per_min  \
subject_id
10002527                            NaN                     NaN
10002527                            NaN                     NaN
10002527                            NaN                     NaN
10002527                            NaN                     NaN
10002527                            NaN                     NaN
10002527                            NaN                     NaN
10002527                            NaN                     NaN
10002527                            NaN                     9.9
10002527                           36.4                     NaN
10002527                            NaN                     NaN

           respiratory_rate_set_insp_per_min  \
subject_id
10002527                                 NaN
10002527                                 NaN
10002527                                 NaN
10002527                                 NaN
10002527                                 NaN
10002527                                 NaN
10002527                                 NaN
10002527                                  16
10002527                                 NaN
10002527                                 NaN

           respiratory_rate_spontaneous_insp_per_min  \
subject_id
10002527                                         NaN
10002527                                         NaN
10002527                                         NaN
10002527                                         NaN
10002527                                         NaN
10002527                                         NaN
10002527                                         NaN
10002527                                           0
10002527                                         NaN
10002527                                         NaN

           respiratory_rate_total_insp_per_min
subject_id
10002527                                   NaN
10002527                                   NaN
10002527                                   NaN
10002527                                   NaN
10002527                                   NaN
10002527                                   NaN
10002527                                   NaN
10002527                                    16
10002527                                   NaN
10002527                                   NaN

In [17]:
result.to_csv('time-series-physiological.csv',index_label = 'subject_id')

In [3]:
#get cart lab types
lab_chart_useful_types = load_sql_table('lc_20')
print(lab_chart_useful_types.shape)

(53, 9)

In [4]:
print(lab_chart_useful_types)

    itemid                                label  \
0   227015                     Glucose_ApacheIV
1   220862                          Albumin 25%
2   220210                     Respiratory Rate
3   220603                          Cholesterol
4   227445                                CK-MB
5   225693                         Triglyceride
6   220864                           Albumin 5%
7   225612                   Alkaline Phosphate
8   226536               Chloride (whole blood)
9   224688               Respiratory Rate (Set)
10  226982                AlbuminScore_ApacheIV
11  227016                GlucoseScore_ApacheIV
12  227005                  Creatinine_ApacheIV
13  227444             C Reactive Protein (CRP)
14  220050     Arterial Blood Pressure systolic
15  220574                             ZAlbumin
16  226537                Glucose (whole blood)
17  220545                   Hematocrit (serum)
18  225664  Glucose finger stick (range 70-100)
19  220615                   Creatinine (serum)
20  226761              HematocritApacheIIScore
21  220045                           Heart Rate
22  226762              HematocritApacheIIValue
23  226981                     Albumin_ApacheIV
24  227429                           Troponin-T
25  225625                  Calcium non-ionized
26  226772               PotassiumApacheIIValue
27  224689       Respiratory Rate (spontaneous)
28  227017                  Hematocrit_ApacheIV
29  226771               PotassiumApacheIIScore
30  226540      Hematocrit (whole blood - calc)
31  229761             Creatinine (whole blood)
32  220650                        Total Protein
33  225402                                  EKG
34  220051    Arterial Blood Pressure diastolic
35  220861                  Albumin (Human) 20%
36  224690             Respiratory Rate (Total)
37  227442                    Potassium (serum)
38  228386        Chloride (whole blood) (soft)
39  220602                     Chloride (serum)
40  227464              Potassium (whole blood)
41  227456                              Albumin
42  227463                             Cortisol
43  226751              CreatinineApacheIIScore
44  225667                      Ionized Calcium
45  220621                      Glucose (serum)
46  228692             Glucose Control - Prophy
47  220052         Arterial Blood Pressure mean
48  228385              Chloride (serum) (soft)
49  220863                   Albumin (Human) 4%
50  228388         Glucose (whole blood) (soft)
51  226752              CreatinineApacheIIValue
52  220228                           Hemoglobin

                       abbreviation          linksto  \
0                  Glucose_ApacheIV      chartevents
1                       Albumin 25%      inputevents
2                                RR      chartevents
3                       Cholesterol      chartevents
4                             CK-MB      chartevents
5                      Triglyceride      chartevents
6                        Albumin 5%      inputevents
7                Alkaline Phosphate      chartevents
8            Chloride (whole blood)      chartevents
9            Respiratory Rate (Set)      chartevents
10            AlbuminScore_ApacheIV      chartevents
11            GlucoseScore_ApacheIV      chartevents
12              Creatinine_ApacheIV      chartevents
13         C Reactive Protein (CRP)      chartevents
14                             ABPs      chartevents
15                         ZAlbumin      chartevents
16            Glucose (whole blood)      chartevents
17               Hematocrit (serum)      chartevents
18       Glucose FS (range 70 -100)      chartevents
19               Creatinine (serum)      chartevents
20          HematocritApacheIIScore      chartevents
21                               HR      chartevents
22          HematocritApacheIIValue      chartevents
23                 Albumin_ApacheIV      chartevents
24                       Troponin-T      chartevents
25              Calcium non-ionized      chartevents
26           PotassiumApacheIIValue      chartevents
27   Respiratory Rate (spontaneous)      chartevents
28              Hematocrit_ApacheIV      chartevents
29           PotassiumApacheIIScore      chartevents
30  Hematocrit (whole blood - calc)      chartevents
31         Creatinine (whole blood)      chartevents
32                    Total Protein      chartevents
33                              EKG  procedureevents
34                             ABPd      chartevents
35                      Albumin 20%      inputevents
36         Respiratory Rate (Total)      chartevents
37                Potassium (serum)      chartevents
38    Chloride (whole blood) (soft)      chartevents
39                 Chloride (serum)      chartevents
40          Potassium (whole blood)      chartevents
41                          Albumin      chartevents
42                         Cortisol      chartevents
43          CreatinineApacheIIScore      chartevents
44                  Ionized Calcium      chartevents
45                  Glucose (serum)      chartevents
46         Glucose Control - Prophy      chartevents
47                             ABPm      chartevents
48          Chloride (serum) (soft)      chartevents
49                       Albumin 4%      inputevents
50     Glucose (whole blood) (soft)      chartevents
51          CreatinineApacheIIValue      chartevents
52                       Hemoglobin      chartevents

                       category  unitname        param_type  lownormalvalue  \
0        Scores - APACHE IV (2)      None           Numeric             NaN
1       Blood Products/Colloids        mL          Solution             NaN
2                   Respiratory  insp/min           Numeric             NaN
3                          Labs      None           Numeric             NaN
4                          Labs      None  Numeric with tag             NaN
5                          Labs      None           Numeric             NaN
6       Blood Products/Colloids        mL          Solution             NaN
7                          Labs      None           Numeric             NaN
8                          Labs      None           Numeric             NaN
9                   Respiratory  insp/min           Numeric             NaN
10       Scores - APACHE IV (2)      None           Numeric             NaN
11       Scores - APACHE IV (2)      None           Numeric             NaN
12       Scores - APACHE IV (2)      None           Numeric             NaN
13                         Labs      None  Numeric with tag             NaN
14          Routine Vital Signs      mmHg           Numeric            90.0
15                         Labs      None           Numeric             NaN
16                         Labs      None           Numeric             NaN
17                         Labs      None           Numeric             NaN
18                         Labs      None           Numeric             NaN
19                         Labs      None           Numeric             NaN
20           Scores - APACHE II      None           Numeric             NaN
21          Routine Vital Signs       bpm           Numeric             NaN
22           Scores - APACHE II      None           Numeric             NaN
23       Scores - APACHE IV (2)      None           Numeric             NaN
24                         Labs      None  Numeric with tag             NaN
25                         Labs      None           Numeric             NaN
26           Scores - APACHE II      None           Numeric             NaN
27                  Respiratory  insp/min           Numeric             NaN
28       Scores - APACHE IV (2)      None           Numeric             NaN
29           Scores - APACHE II      None           Numeric             NaN
30                         Labs      None           Numeric             NaN
31                         Labs      None           Numeric             NaN
32                         Labs      None           Numeric             NaN
33                 4-Procedures      None         Processes             NaN
34          Routine Vital Signs      mmHg           Numeric            60.0
35  Fluids - Other (Not In Use)        mL          Solution             NaN
36                  Respiratory  insp/min           Numeric             NaN
37                         Labs      None  Numeric with tag             NaN
38                         Labs      None  Numeric with tag             NaN
39                         Labs      None           Numeric             NaN
40                         Labs      None  Numeric with tag             NaN
41                         Labs      None  Numeric with tag             NaN
42                         Labs      None  Numeric with tag             NaN
43           Scores - APACHE II      None           Numeric             NaN
44                         Labs      None           Numeric             NaN
45                         Labs      None           Numeric             NaN
46             MD Progress Note      None              Text             NaN
47          Routine Vital Signs      mmHg           Numeric             NaN
48                         Labs      None  Numeric with tag             NaN
49  Fluids - Other (Not In Use)        mL          Solution             NaN
50                         Labs      None  Numeric with tag             NaN
51           Scores - APACHE II      None           Numeric             NaN
52                         Labs      g/dl           Numeric             NaN

    highnormalvalue
0               NaN
1               NaN
2               NaN
3               NaN
4               NaN
5               NaN
6               NaN
7               NaN
8               NaN
9               NaN
10              NaN
11              NaN
12              NaN
13              NaN
14            140.0
15              NaN
16              NaN
17              NaN
18              NaN
19              NaN
20              NaN
21              NaN
22              NaN
23              NaN
24              NaN
25              NaN
26              NaN
27              NaN
28              NaN
29              NaN
30              NaN
31              NaN
32              NaN
33              NaN
34             90.0
35              NaN
36             36.0
37              NaN
38              NaN
39              NaN
40              NaN
41              NaN
42              NaN
43              NaN
44              NaN
45              NaN
46              NaN
47              NaN
48              NaN
49              NaN
50              NaN
51              NaN
52              NaN

In [4]:
lab_chart_useful_types.to_csv('lab_chart_useful_types.csv')

# 静态数据合并 #

In [4]:
tabular = load_sql_table('tabular2')
print(tabular.shape)

(10848, 8)

In [5]:
print(tabular.head(10))

   subject_id gender  age anchor_year_group insurance language marital_status  \
0    12932363      M   56       2008 - 2010     Other  ENGLISH         SINGLE
1    12872596      M   66       2017 - 2019     Other  ENGLISH        MARRIED
2    11617629      M   60       2014 - 2016     Other  ENGLISH        MARRIED
3    10901772      F   46       2008 - 2010  Medicare  ENGLISH        MARRIED
4    18372408      F   73       2008 - 2010  Medicare  ENGLISH       DIVORCED
5    18756147      M   41       2014 - 2016     Other  ENGLISH        MARRIED
6    13964560      M   62       2008 - 2010  Medicare  ENGLISH         SINGLE
7    18613213      F   84       2008 - 2010  Medicare  ENGLISH        WIDOWED
8    15606157      F   67       2011 - 2013  Medicare  ENGLISH         SINGLE
9    14013548      M   67       2008 - 2010     Other  ENGLISH        MARRIED

         ethnicity
0            WHITE
1            WHITE
2            WHITE
3            WHITE
4            WHITE
5            WHITE
6            WHITE
7            WHITE
8  HISPANIC/LATINO
9            WHITE

In [6]:
tabular.drop_duplicates('subject_id', inplace = True)
print(tabular.shape)

(2675, 8)

In [7]:
print(tabular.head(5))

   subject_id gender  age anchor_year_group insurance language marital_status  \
0    12932363      M   56       2008 - 2010     Other  ENGLISH         SINGLE
1    12872596      M   66       2017 - 2019     Other  ENGLISH        MARRIED
2    11617629      M   60       2014 - 2016     Other  ENGLISH        MARRIED
3    10901772      F   46       2008 - 2010  Medicare  ENGLISH        MARRIED
4    18372408      F   73       2008 - 2010  Medicare  ENGLISH       DIVORCED

  ethnicity
0     WHITE
1     WHITE
2     WHITE
3     WHITE
4     WHITE

In [8]:
tabular.set_index('subject_id')

,gender,age,anchor_year_group,insurance,language,marital_status,ethnicity
subject_id,,,,,,,
12932363,M,56,2008 - 2010,Other,ENGLISH,SINGLE,WHITE
12872596,M,66,2017 - 2019,Other,ENGLISH,MARRIED,WHITE
11617629,M,60,2014 - 2016,Other,ENGLISH,MARRIED,WHITE
10901772,F,46,2008 - 2010,Medicare,ENGLISH,MARRIED,WHITE
18372408,F,73,2008 - 2010,Medicare,ENGLISH,DIVORCED,WHITE
...,...,...,...,...,...,...,...
14299450,F,80,2011 - 2013,Other,ENGLISH,WIDOWED,WHITE
16804571,M,69,2011 - 2013,Medicare,ENGLISH,MARRIED,WHITE
15188050,M,75,2014 - 2016,Medicare,ENGLISH,MARRIED,ASIAN
11841264,F,82,2017 - 2019,Medicare,ENGLISH,MARRIED,WHITE
14032590,M,74,2008 - 2010,Other,ENGLISH,MARRIED,WHITE

In [11]:
tabular.to_csv('static.csv', index_label = 'subject_id')

## MIMIC4, Heart Faillure, 尽可能多的attribute ##

In [18]:
patients_with_heart_failure = load_sql_table('hdt_hdd_p3')
print(patients_with_heart_failure.shape)

(127664, 20)

In [19]:
patients_with_heart_failure.to_csv('patients_with_heart_failure_static.csv', index = False)

In [10]:
heart_failure_diagnoses_list = load_sql_table('hdd2')
print(heart_failure_diagnoses_list.shape)

(60, 3)

In [14]:
heart_failure_diagnoses_list.to_csv('heart_failure_diagnoses_list.csv',index=False)

In [12]:
heart_failure_treatment_list = load_sql_table('hdt8')
print(heart_failure_treatment_list.shape)

(62, 3)

In [15]:
heart_failure_treatment_list.to_csv('heart_failure_treatment_list.csv',index=False)

### time series ###

In [3]:
 table_list = [
     'p2_albumin',
     'p2_alkaline_phosphate',
     'p2_arterial_bp_diastolic',
     'p2_arterial_bp_mean',
     'p2_arterial_bp_systolic',
    'p2_c_reactive_protein',
     'p2_chloride_wholeblood',
     'p2_cholesterol',
     'p2_ck_mb',
     'p2_cortisol_ug_per_dl',
     'p2_creatinine_serum',
     'p2_creatinine_wb',
     'p2_ekg',
     'p2_glucose_serum',
     'p2_glucuse_wb',
     'p2_heart_rate',
     'p2_hematocrit_serum',
     'p2_hematocrit_wb',
     'p2_hemoglobin',
     'p2_ionized_calcium',
     'p2_potassium_serum',
     'p2_prespiratory_rate',
     'p2_respiratory_rate_set',
     'p2_respiratory_rate_spontaneous',
     'p2_respiratory_rate_total',
     'p2_total_protein',
     'p2_triglyceride',
     'p2_troponin_t'
 ]

#### older hard code method ####

In [3]:
# p2_alkaline_phosphate = load_sql_table('p2_alkaline_phosphate')
# p2_ck_mb = load_sql_table('p2_ck_mb')
# p2_creatinine_serum = load_sql_table('p2_ck_mb')
# p2_ekg = load_sql_table('p2_ekg')
# p2_glucose_serum = load_sql_table('p2_glucose_serum')
# p2_heart_rate = load_sql_table('p2_heart_rate')
# p2_hematocrit_serum = load_sql_table('p2_hematocrit_serum')
# p2_hemoglobin = load_sql_table('p2_hemoglobin')
# p2_ionized_calcium = load_sql_table('p2_ionized_calcium')
# p2_prespiratory_rate = load_sql_table('p2_prespiratory_rate')
# p2_respiratory_rate_spontaneous = load_sql_table('p2_respiratory_rate_spontaneous')
# p2_respiratory_rate_total = load_sql_table('p2_respiratory_rate_total')
# p2_troponin_t = load_sql_table('p2_troponin_t')
# p2_albumin = load_sql_table('p2_troponin_t')
# p2_arterial_bp_diastolic = load_sql_table('')
# p2_arterial_bp_mean = load_sql_table('')
# p2_arterial_bp_systolic = load_sql_table('')
# p2_c_reactive_protein = load_sql_table('')
# p2_chloride_wholeblood = load_sql_table('')
# p2_cholesterol = load_sql_table('')
# p2_cortisol_ug_per_dl = load_sql_table('')
# p2_creatinine_wb = load_sql_table('')
# p2_glucuse_wb = load_sql_table('')
# p2_hematocrit_wb = load_sql_table('')
# p2_potassium_serum = load_sql_table('')
# p2_respiratory_rate_set = load_sql_table('')
# p2_total_protein = load_sql_table('')
# p2_triglyceride = load_sql_table('')

In [4]:
# print(p2_alkaline_phosphate.shape)
# print(p2_ck_mb.shape)
# print(p2_creatinine_serum.shape)
# print(p2_ekg.shape)
# print(p2_glucose_serum.shape)
# print(p2_heart_rate.shape)
# print(p2_hematocrit_serum.shape)
# print(p2_hemoglobin.shape)
# print(p2_ionized_calcium.shape)
# print(p2_prespiratory_rate.shape)
# print(p2_respiratory_rate_spontaneous.shape)
# print(p2_respiratory_rate_total.shape)
# print(p2_troponin_t.shape)

(22078, 3)
(12642, 3)
(84047, 3)
(8119, 3)
(84060, 3)
(1199823, 3)
(79178, 3)
(80098, 3)
(46641, 3)
(1189958, 3)
(142579, 3)
(133981, 3)
(14028, 3)

In [5]:
# result = p2_ck_mb.merge(p2_alkaline_phosphate, on = ['subject_id','charttime'], how='outer')
# print(result.shape)
# result = result.merge(p2_creatinine_serum, on = ['subject_id','charttime'], how='outer')
# print(result.shape)
# result = result.merge(p2_ekg, on = ['subject_id','charttime'], how='outer')
# print(result.shape)
# result = result.merge(p2_glucose_serum, on = ['subject_id','charttime'], how='outer')
# print(result.shape)
# result = result.merge(p2_heart_rate, on = ['subject_id','charttime'], how='outer')
# print(result.shape)
# result = result.merge(p2_hematocrit_serum, on = ['subject_id','charttime'], how='outer')
# print(result.shape)
# result = result.merge(p2_hemoglobin, on = ['subject_id','charttime'], how='outer')
# print(result.shape)
# result = result.merge(p2_ionized_calcium, on = ['subject_id','charttime'], how='outer')
# print(result.shape)
# result = result.merge(p2_prespiratory_rate, on = ['subject_id','charttime'], how='outer')
# print(result.shape)
# result = result.merge(p2_respiratory_rate_spontaneous, on = ['subject_id','charttime'], how='outer')
# print(result.shape)
# result = result.merge(p2_respiratory_rate_total, on = ['subject_id','charttime'], how='outer')
# print(result.shape)
# result = result.merge(p2_troponin_t, on = ['subject_id','charttime'], how='outer')
# print(result.shape)

(30727, 4)
(88213, 5)
(96284, 6)
(100896, 7)
(1290990, 8)
(1307461, 9)
(1319446, 10)
(1360424, 11)
(1388345, 12)
(1407905, 13)
(1409298, 14)
(1412966, 15)

#### new loop method ####

In [4]:
first = load_sql_table(table_list[0])
second = load_sql_table(table_list[1])
result = first.merge(second, on = ['subject_id','hadm_id','charttime'], how='outer')
for i in tqdm(range(2, len(table_list))):
    table_name = table_list[i]
    df = load_sql_table(table_name)
    print(f"{table_name}, shape:{df.shape}")
    result = result.merge(df, on = ['subject_id','hadm_id','charttime'], how='outer')
    print(f" after join {table_name}, result shape {result.shape}")

  0%|          | 0/26 [00:00<?, ?it/s]

p2_arterial_bp_diastolic, shape:(919725, 4)
 after join p2_arterial_bp_diastolic, result shape (966133, 6)
p2_arterial_bp_mean, shape:(924063, 4)
 after join p2_arterial_bp_mean, result shape (980623, 7)
p2_arterial_bp_systolic, shape:(919875, 4)
 after join p2_arterial_bp_systolic, result shape (980690, 8)
p2_c_reactive_protein, shape:(1085, 4)
 after join p2_c_reactive_protein, result shape (981321, 9)
p2_chloride_wholeblood, shape:(11403, 4)
 after join p2_chloride_wholeblood, result shape (992635, 10)
p2_cholesterol, shape:(1567, 4)
 after join p2_cholesterol, result shape (993389, 11)
p2_ck_mb, shape:(26605, 4)
 after join p2_ck_mb, result shape (1011229, 12)
p2_cortisol_ug_per_dl, shape:(2529, 4)
 after join p2_cortisol_ug_per_dl, result shape (1012840, 13)
p2_creatinine_serum, shape:(184676, 4)
 after join p2_creatinine_serum, result shape (1134384, 14)
p2_creatinine_wb, shape:(244, 4)
 after join p2_creatinine_wb, result shape (1134448, 15)
p2_ekg, shape:(17164, 4)
 after join p2_ekg, result shape (1149770, 16)
p2_glucose_serum, shape:(181731, 4)
 after join p2_glucose_serum, result shape (1155021, 17)
p2_glucuse_wb, shape:(65034, 4)
 after join p2_glucuse_wb, result shape (1202648, 18)
p2_heart_rate, shape:(2705375, 4)
 after join p2_heart_rate, result shape (3007800, 19)
p2_hematocrit_serum, shape:(179835, 4)
 after join p2_hematocrit_serum, result shape (3042500, 20)
p2_hematocrit_wb, shape:(26365, 4)
 after join p2_hematocrit_wb, result shape (3051529, 21)
p2_hemoglobin, shape:(182268, 4)
 after join p2_hemoglobin, result shape (3052265, 22)
p2_ionized_calcium, shape:(93222, 4)
 after join p2_ionized_calcium, result shape (3099538, 23)
p2_potassium_serum, shape:(197157, 4)
 after join p2_potassium_serum, result shape (3106350, 24)
p2_prespiratory_rate, shape:(2683639, 4)
 after join p2_prespiratory_rate, result shape (3163628, 25)
p2_respiratory_rate_set, shape:(139750, 4)
 after join p2_respiratory_rate_set, result shape (3185372, 26)
p2_respiratory_rate_spontaneous, shape:(241473, 4)
 after join p2_respiratory_rate_spontaneous, result shape (3201835, 27)
p2_respiratory_rate_total, shape:(226373, 4)
 after join p2_respiratory_rate_total, result shape (3203090, 28)
p2_total_protein, shape:(1117, 4)
 after join p2_total_protein, result shape (3203183, 29)
p2_triglyceride, shape:(3598, 4)
 after join p2_triglyceride, result shape (3203263, 30)
p2_troponin_t, shape:(30318, 4)
 after join p2_troponin_t, result shape (3204282, 31)

In [5]:
p_list = result['subject_id'].unique()
print(len(p_list))

15354

In [11]:
%%capture --no-display
save_path = os.path.join(os.getcwd(), 'time_series_physiological_heart_failure')
for name in tqdm(p_list):
    _ = result[result['subject_id'] == name].copy()
#     if _.shape[0] < 4:
#         print("this seems to be a very small df, can be skip?")
#         continue
    _.sort_values(by = ['subject_id','hadm_id','charttime'], inplace = True)
    _.to_csv(os.path.join(save_path, f"{name}.csv"),index = False)

  0%|          | 0/15354 [00:00<?, ?it/s]

In [12]:
for filename in os.listdir(save_path):
    if filename[-4:] != '.csv':
        print(filename)

In [9]:
columns = list(result.columns)

In [10]:
print(columns)

['subject_id', 'hadm_id', 'charttime', 'albumin_g_per_dl', 'alkaline_phosphate_iu_per_l', 'arterial_bp_diastolic_mmhg', 'arterial_bp_mean_mmhg', 'arterial_bp_systolic_mmhg', 'c_reactive_protein_mg_per_l', 'chloride_wholeblood_meq_per_l', 'cholesterol_mg_per_dl', 'ck_mb_ng_per_ml', 'cortisol', 'creatinine_serum_mg_per_dl', 'creatinine_wb_mg_per_dl', 'ekg_event', 'glucose_serum_mg_per_dl', 'glucuse_wb_mg_per_dl', 'heart_rate_bpm', 'hematocrit_serum_percentage', 'hematocrit_wb_percentage', 'hemoglobin_g_per_dl', 'ionized_calcium_mmol_per_l', 'potassium_serum_meq_per_l', 'prespiratory_rate_insp_per_min', 'respiratory_rate_set_insp_per_min', 'respiratory_rate_spontaneousinsp_per_min', 'respiratory_rate_total_insp_per_min', 'total_protein_g_per_dl', 'triglyceride_mg_per_dl', 'troponin_t_ng_per_ml']

In [18]:
column_ref = {
    'subject_id': 'patient name',
    'charttime': 'timestamp',
    'ck_mb_ng_per_ml': '227445 CK-MB, unit ng/ml',
    'alkaline_phosphate_iu_per_l': '225612, Alkaline Phosphate, unit IU/l',
    'creatinine_serum_mg_per_dl': '220615, Creatinine (serum), unit mg/dL',
    'ekg_no_units':'225402 EKG, no unit, all are 1', 
    'glucose_serum_mg_per_dl':'220621, Glucose (serum), unit mg/dL', 
    'heart_rate_bpm': '220045, Heart rate, unit bp',
    'hematocrit_serum_percentage': '226540,Hematocrit (whole blood - calc), unit %', 
    'hemoglobin_g_per_dl': '220228, Hemoglobin, unit g/dL', 
    'ionized_calcium_mmol_per_l': '225667, Ionized Calcium, unit mmol/L', 
    'respiratory_rate_insp_per_min': '220210, Respiratory Rate, unit inso/min', 
    'respiratory_rate_spontaneous_insp_per_min': '224689, Respiratory Rate (spontaneous), unit inso/min', 
    'respiratory_rate_total_insp_per_min': '224690, Respiratory Rate (Total), unit inso/min', 
    'troponin_t_ng_per_ml':'225693Triglyceride, unit ng/ml'
}

In [20]:
_ = pd.DataFrame.from_dict(column_ref,orient="index")
_.to_csv("columns_reference.csv")